/*
 Matthew Ashton
 MUI 1308 Project 1
 CSS Style sheet for Web App
 */



body{
    background: #BAC3A2;
}


   
a:hover{color:blue;}

legend {
    color: #B22222;
    background: #D3D3D3;
    border: 1px solid #B22222;
    outline: double;
    font-size: 20px;
    font-weight: bold;
    font-family: Tahoma, Geneva, sans-serif;
}

image{
    margin: 0px;
}

ul{
    padding-top: none;
    padding-left: 15px;
    text-align: left;
}

li {
    font-weight: bold;
    font-family: "Times New Roman", Times, serif;
}

fieldset {
    padding: 5px;
    color: #000000;   
}

input{
    margin-bottom: 15px;
    color: black;
}

input {
    
}


input.hasFocus{
    border: 2px solid #B22222
}


